* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Pretendard"; /* 기본 굵기는 Regular(weight: 400) */
  height: 100vh; /* 전체 뷰포트 높이 */
  margin: 0;
  display: flex;
  justify-content: center; /* 가로 가운데 */
  align-items: center; /* 세로 가운데 */
}

#root {
  width: 393px;
  height: 100%;
  margin: 0 auto;

  padding: 20px;
  background-color: #f8f8f8;
  overflow-wrap: break-word;
}

@media (max-width: 480px) {
  #root {
    width: 100%;

    margin: 0;
  }
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url(./fonts/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Pretendard-Regular.woff) format("woff");
}
