* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: "Pretendard"; /* 기본 굵기는 Regular(weight: 400) */
}

#root {
  width: 393px;
  height: 852px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  overflow-wrap: break-word;
  overflow: hidden;
}

@media (max-width: 480px) {
  #root {
    width: 100%;
    height: 100dvh;
  }
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url(./fonts/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Pretendard-Regular.woff) format("woff");
}
