.viewport {
  margin: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-color: #F8F8F8;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 327px;
  height: 48px;
  border-radius: 12px;
  border: none;
  background-color: #6E7388;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}