.viewport {
  margin: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  background-color: #F8F8F8;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  position: relative;
}

.btn {
  width: 327px;
  height: 48px;
  border-radius: 12px;
  border: none;
  background-color: #6E7388;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.mypageIcon {
  position: absolute;
  top: 62px;
  right: 22px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}